# Ignore everything by default
/*

# But don't ignore app.py
!app.py

!clearsheet.py

!attend_repo.py



!delete_sheet.py

!checksheet.py

# Don't ignore the templates folder
!templates/

# Don't ignore the files inside the templates folder
!templates/*

!static/

!static/*


