<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment Successful</title>
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "{{ url_for('options_page', semester=session['semester'], section=session['section'], subject=session['subject']) }}";
        }, 3000);  // Redirect after 3 seconds
    </script>
</head>
<body>
    <h1>{{ message }}</h1>
    <p>Redirecting you back to the options page...</p>
</body>
</html>
